{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1><span>Welcome to</span> PolyTandem !</h1>

            <h2><a href="{{ path('fos_user_registration_register') }}">Register</a></h2>
        </div>
    </div>
{% endblock %}