{% extends 'base.html.twig' %}

{% block pageContent %}
    <!-- BEGIN PAGE CONTAINER-->

    <div class="page-content">
        <div class="content">
            <!-- BEGIN PAGE TITLE -->
            <div class="row">
                <div class="col-md-8">
                    <div class="grid simple">
                        <!-- FIX ME: scale the grid -->
                        <iframe id="iframe_id" src="http://apprtc.appspot.com/r/100713109" width=700 height=500> </iframe>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="grid simple ">
                        <div class="grid-title">
                            <h4>Let's play a game ! </h4>
                            <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                        </div>
                        <div class="grid-body">
                            <div class="scroller scrollbar-hidden" data-height="220px">
                                <h3>Scroll is <span class="semi-bold">hidden</span></h3>
                                <h4><span class="semi-bold">Open Me</span>, Light , <span class="semi-bold">Bold</span> , <i>Everything</i></h4>
                                <p>The overflow is clipped, and the rest of the content will be invisible, Play it ». scroll, The overflow is clipped, but a scroll-bar is added to see the rest of the </p>
                                <p> default, the textarea element comes with a vertical scrollbar (and maybe even a horizontal scrollbar). This vertical scrollbar enables the user to continue entering and reviewing their text (by scrolling up and down).</p>
                                <p>The scroll event is sent to an element when the user scrolls to a different place in the element. It applies to window objects, but also to scrollable frames and elements with the overflow CSS property set to scroll (or auto when the element's explicit height or width is less than the height or width of its contents).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PLACE PAGE CONTENT HERE -->
        </div>
    </div>
    <!-- END PAGE CONTAINER -->
{% endblock %}

{% block video_active %}
    class="active"
{% endblock %}

{% block innerJS %}
    
{% endblock %}

